.auth-widget {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 450px;
    padding: 3rem;

    input,
    button {
        width: 100%;
        height: 45px;
        padding: 0 1rem;
        /* width: 100%; */
    }
    
    input {
        margin-bottom: 0.2rem;
    }
    
    button {
        margin-top: 2rem;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
}

.or-separator {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 2rem 0;

    &::before,
    &::after {
        content: "";
        display: block;
        position: relative;
        top: 1px;
        width: 35%;
        height: 0.8px;
        margin-left: 10px;
    }
}

.auth-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
