# App

PORT=3000
NEXT_PUBLIC_SERVER_HOST=api.example.com


# Postgres

DB_HOST=localhost
DB_PORT=3001
DB_NAME=databasename
DB_USER=username
DB_PASSWORD=password


# Redis

RC_HOST=localhost
RC_PORT=3002


# MinIO

MC_HOST=localhost
MC_PORT=3003
MC_SSL=false
MC_USER=username
MC_PASSWORD=password
