.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.client-list {
    padding: 2rem 0;
    
    .clients {
        display: flex;
        flex-flow: row wrap;
        gap: 0 15px;
    }

    a {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        gap: 25px 80px;

        width: 49%;
        min-width: 300px;
        min-height: 75px;
        padding: 10px 30px;
        text-align: left;
        white-space: nowrap;
        margin-bottom: 0.4rem;

        .details {
            font-size: 0.95rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: fit-content;
            justify-content: space-between;
            gap: 0.25rem 3rem;
        }

        .detail {
            display: flex;
            gap: 6px;
            flex-flow: row nowrap;
            align-items: center;
        }

        .label {
            margin-right: 0.5rem;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .empty {
        width: 100%;
        display: block;
        position: relative;
        height: fit-content;
        margin-top: 6rem;
        text-align: center;
    }
}

.skeleton {
    width: 100%;
    height: 75px;
    padding: 10px 30px;
    border-radius: 5px;
    margin-bottom: 0.4rem;

    background-color: var(--gray-1);
    background: linear-gradient(160deg, var(--gray-1), var(--background));

    animation: ease-in 0.3s infinite alternate shimmer;
}

@keyframes shimmer {
  0% { opacity: 0.6; }
  100% { opacity: 1; }
}
