.files {
    padding: 2rem 0;
}

.file-list {
    gap: 0.75rem 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.file {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(50% - 0.5rem);
    height: 10rem;
    padding: 2rem;

    &:hover {
        cursor: pointer;
    }
}
