.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.table-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);
    padding: 10px 30px;
    min-height: 55px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid var(--gray-2);
    width: 100%;

    span:first-of-type {
        width: 200px;
    }
}

.details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}

.details > * {
    width: 125px;
}

.table-content {
    min-width: 800px;
}

.projects-history {
    padding: 2rem 0;

    a {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        width: 100%;
        min-height: 55px;
        padding: 10px 30px;
        text-align: left;
        border-bottom: 1px solid var(--gray-1);
        border-radius: 0;
        border-top: none;

        &:last-of-type {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom: 1px solid var(--gray-2);

            &:hover {
                border-bottom-color: var(--gray-2);
            }
        }

        .status {
            padding: 1px 9px;
            border-radius: 99px;
            width: fit-content;
        }

        &:hover {
            cursor: pointer;
            border-color: var(--gray-2);
            border-bottom-color: var(--gray-1);
        }
    }
}

.projects-list {
    position: relative;
    overflow-x: auto;
    /* width: max-content; */

    .empty {
        display: block;
        position: relative;
        height: fit-content;
        margin-top: 6rem;
        text-align: center;
    }
}

.search-options {
    display: flex;
    flex-flow: row nowrap;
    align-items: end;
    gap: 10px;
}

.skeleton {
    width: 100%;
    height: 55px;
    /* margin: 5px; */
    padding: 10px 30px;
    /* border-radius: 5px; */
    border: 1px solid var(--gray-1);

    &:last-of-type {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    background-color: var(--gray-1);
    animation: ease-in 0.5s infinite alternate shimmer;
}

@keyframes shimmer {
  0% { opacity: 0.2; }
  100% { opacity: 1; }
}
