.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.projects-history {
    padding: 2rem 0;

    a {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        gap: 1rem 2rem;

        width: 100%;
        min-height: 3.5rem;
        padding: 0.5rem 1.7rem;
        text-align: left;
        white-space: nowrap;
        margin-bottom: 0.4rem;

        .details {
            display: flex;
            flex-flow: row wrap;
            width: fit-content;
            justify-content: space-between;
            gap: 0.25rem 3rem;
        }

        .detail {
            display: flex;
            gap: 6px;
            flex-flow: row nowrap;
            align-items: center;
        }

        .status {
            padding: 0.2rem 0.4rem;
            border-radius: 2px;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.projects-list {
    position: relative;

    .empty {
        display: block;
        position: relative;
        height: fit-content;
        margin-top: 6rem;
        text-align: center;
    }
}

.skeleton {
    width: 100%;
    height: 3.5rem;
    padding: 0 1.7rem;
    border-radius: 5px;
    margin-bottom: 0.4rem;

    background-color: var(--gray-1);
    background: linear-gradient(160deg, var(--gray-1), var(--background));

    animation: ease-in 0.3s infinite alternate shimmer;
}

@keyframes shimmer {
  0% { opacity: 0.6; }
  100% { opacity: 1; }
}
