.metrics {
  margin: 2rem 0;
}

.header {
  margin-bottom: 20px;
}

.metrics-container {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.metric {
  display: flex;
  flex-flow: column;
  justify-content: baseline;
  width: 200px;
  height: 170px;
  gap: 5px;
  background-color: var(--background);
  border: 1px solid var(--gray-2);
  border-radius: 5px;
  padding: 15px;
}

.skeleton {
    width: 200px;
    height: 170px;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--gray-1);
    background: linear-gradient(160deg, var(--gray-1), var(--background));
    animation: ease-in 0.3s infinite alternate shimmer;
}
