.projects-container {
    position: relative;
    margin: 2rem 0;
}

.projects-slider {
    overflow-x: visible;
    overflow-y: hidden;
    scrollbar-width: none;

    .arrow-left, .arrow-right {
        position: absolute;
        top: 50%;
        opacity: 0.5;
        backdrop-filter: blur(10px);
        background-color: var(--white);
        border: 1px solid var(--gray-1);
        border-radius: 50%;
        width: 64px;
        height: 64px;
        cursor: pointer;
        z-index: 14;

        svg {
            fill: var(--foreground);
        }

        &:hover {
            border-color: var(--gray-2);
        }

        &:nth-of-type(1) { left: 0; }
        &:nth-of-type(2) { right: 0; }
    }
}

.projects-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 13rem;
    width: max-content;
    padding: 0 6rem 0 1rem;
    gap: 1rem;
    
    a {
        position: relative;
        height: 12rem;
        width: 24rem;
        padding: 1.5rem;

        .drag-handle {
            position: absolute;
            top: 0.75rem;
            right: 0.75rem;
            touch-action: none;
            user-select: none;
            width: fit-content;
            cursor: move;
            padding: 0.75rem;
        }

        span {
            position: absolute;
            bottom: 1.5rem;
            left: 2.5rem;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &::before {
        content: '';
        pointer-events: none;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(to right, #fbfbfb, transparent);
        height: 13rem;
        width: 2rem;
        z-index: 10;
    }

    &::after {
        content: '';
        pointer-events: none;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, transparent, #fbfbfb);
        height: 13rem;
        width: 6rem;
        z-index: 12;
    }
}

.empty {
    display: block;
    position: relative;
    height: fit-content;
    margin-top: 6rem;
    text-align: center;
}


.skeleton {
    position: relative;
    height: 12rem;
    width: 24rem;
    padding: 1.5rem;
    background-color: var(--gray-1);
    border-radius: 5px;
    z-index: 11;

    animation: ease-in 0.5s infinite alternate shimmer;
}

@keyframes shimmer {
  0% { opacity: 0.2; }
  100% { opacity: 1; }
}
