.projects-container {
    position: relative;
    margin: 2rem 0;
}

.projects-slider {
    overflow-x: visible;
    overflow-y: hidden;
    scrollbar-width: none;

    .arrow-left, .arrow-right {
        position: absolute;
        top: 55%;
        opacity: 0.5;
        backdrop-filter: blur(10px);
        background-color: var(--gray-1);
        border: 1px solid var(--gray-3);
        border-radius: 50%;
        width: 45px;
        height: 45px;
        cursor: pointer;
        z-index: 14;
        transition: all var(--ease-out-c) var(--ease-out-t);

        svg {
            fill: var(--foreground);
            transform: translate(0px, 1px);
        }

        &:hover {
            border-color: var(--gray-5);
        }

        &:nth-of-type(1) { left: 0; }
        &:nth-of-type(2) { right: 0; }
    }
}

.projects-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 200px;
    width: max-content;
    padding: 0 100px 0 15px;
    gap: 10px;
    
    a {
        position: relative;
        height: 175px;
        width: 350px;

        .drag-handle {
            position: absolute;
            top: 5px;
            right: 0;
            touch-action: none;
            user-select: none;
            width: fit-content;
            cursor: move;
            padding: 5px;
        }

        span {
            position: absolute;
            bottom: 10px;
            left: 15px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &::before {
        content: '';
        pointer-events: none;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(to right, #fbfbfb, transparent);
        height: 200px;
        width: 2rem;
        z-index: 10;
    }

    &::after {
        content: '';
        pointer-events: none;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, transparent, #fbfbfb);
        height: 200px;
        width: 6rem;
        z-index: 12;
    }
}

.empty {
    display: block;
    position: relative;
    height: fit-content;
    margin-top: 6rem;
    text-align: center;
}


.skeleton {
    position: relative;
    height: 175px;
    width: 350px;
    background-color: var(--gray-1);
    border-radius: 5px;
    z-index: 11;

    animation: ease-in 0.5s infinite alternate shimmer;
}

@keyframes shimmer {
  0% { opacity: 0.2; }
  100% { opacity: 1; }
}
