.sidebar {
    height: 90vh;
    width: 17rem;
    overflow-y: auto;
}

.logo {
    margin-bottom: 2rem;
}

.sidebar-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 80%;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;

    a, button {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        padding: 0.4rem 0.6rem;

        &:hover {
            cursor: pointer;
        }
    }
}
