.sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    background-color: #151515;
    padding: 15px;
    width: 280px;
}

.logo {
    margin-bottom: 2rem;
}

.sidebar-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 80%;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;

    a, button {
        background-color: currentColor;
        border-color: currentColor;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        padding: 0.4rem 0.6rem;

        &:hover {
            background-color: var(--gray-5);
            border-color: var(--gray-5);
            cursor: pointer;
        }
    }
}
