.dashboard-layout {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    /* height: 100vh;
    width: 95vw; */
    gap: 6rem;
    justify-content: space-between;
    align-items: center;
    background-color: #141414;
}

.content {
    background-color: #fff;
    flex: 1;
    margin-left: 280px;
    padding: 40px;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    h2 {
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 1.8rem;
    }
}
