.buttons {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
}

.content-wrapper {
    background-color: #fbfbfb;
    padding: 40px;
    min-height: 100vh;
}
