.buttons {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
}

.content-wrapper {
    background-color: #fbfbfb;
    padding: 40px;
    min-height: 100vh;

    @media screen and (max-width: 500px) {
        padding: 40px 20px;
    }
}
