.header {
    display: flex;
    flex-flow: column;
    gap: 30px;
    position: relative;
    margin-bottom: 1rem;

    .search-options {
        display: flex;
        justify-content: right;
    }
}

.files-wrapper {
    overflow-y: auto;
    flex-grow: 1;
    padding: 0 40px;

    @media screen and (max-width: 500px) {
        padding: 0 20px;
    }
}

.project-container {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overview {
    width: 350px;
    height: 100%;
    padding: 40px;
    background-color: var(--background);
    border-right: 1px solid var(--gray-1);
    display: flex;
    flex-shrink: 0;
    flex-flow: column;
    gap: 20px;
    overflow-y: scroll;

    @media screen and (max-width: 500px) {
        padding: 40px 20px;
    }
}

.details {
    display: flex;
    flex-flow: column;
    gap: 25px;
}

.detail {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 6px;
}

.client {
    a * {
        text-decoration: none;
    }
}

.items {
    display: flex;
    flex-flow: column;
    gap: 20px;

    .item-list {
        display: flex;
        flex-flow: column;
        gap: 5px;
        height: 380px;
        width: 600px;
        overflow-y: scroll;
    }
}

.status-container {
    overflow: visible;
}

.status-display {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.1rem;

    &:hover {
        cursor: pointer;
    }
}

.status {
    .status-list {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.1rem;
        border: 1px solid var(--gray-2);
        border-radius: 5px;
        background-color: var(--background);

        button {
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
            gap: 0.3rem;

            text-align: left;
            padding: 0.5rem;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.cancelled circle { fill: #262626 }
.paused circle { fill: #e69a3d }
.in-progress circle { fill: #667aff }
.completed circle { fill: #3da45a }
