.header {
    position: relative;
    margin-bottom: 1rem;

    .search-options {
        display: flex;
        justify-content: right;
    }

    input[type='search'] {
        width: 10rem;
        height: 45px;
        padding: 0 1.7rem;

        &:focus {
            width: 15rem;
            outline: none;
        }
    }
}

.details {
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 0.25rem 3rem;
}

.detail {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5rem;

    .label {
        margin-right: 0.5rem;
    }

    .assign {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 0.4rem;
        padding: 0.2rem 0.4rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.items {

    .item-list {
        height: 16rem;
        overflow-y: scroll;
    }

    .item {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem 1rem;

        margin-bottom: 0.2rem;
        padding: 0.5rem 1.7rem;
        width: 100%;
        min-height: 3rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.status-container {
    overflow: visible;
}

.status-display {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.1rem;

    &:hover {
        cursor: pointer;
    }
}

.status-edit {
    padding: 0.2rem 0.4rem;
}

.status {
    padding: 1.2rem;

    .status-list {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.1rem;

        button {
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
            gap: 0.3rem;

            text-align: left;
            padding: 0.5rem;

            &:hover {
                cursor: pointer;
            }

            &.cancelled circle { fill: #262626 }
            &.paused circle { fill: #e69a3d }
            &.in-progress circle { fill: #667aff }
            &.completed circle { fill: #3da45a }
        }
    }
}
