.header {
    display: flex;
    flex-flow: column;
    gap: 10px;
    position: relative;
    margin-bottom: 1rem;

    .search-options {
        display: flex;
        justify-content: right;
    }
}

.details {
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-around; */
    gap: 25px 80px;
}

.detail {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 6px;
}

.items {
    display: flex;
    flex-flow: column;
    gap: 20px;

    .item-list {
        display: flex;
        flex-flow: column;
        gap: 5px;
        height: 380px;
        width: 600px;
        overflow-y: scroll;
    }
}

.status-container {
    overflow: visible;
}

.status-display {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.1rem;

    &:hover {
        cursor: pointer;
    }
}

.status {
    .status-list {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.1rem;
        border: 1px solid var(--gray-2);
        border-radius: 5px;
        background-color: var(--background);

        button {
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
            gap: 0.3rem;

            text-align: left;
            padding: 0.5rem;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.cancelled circle { fill: #262626 }
.paused circle { fill: #e69a3d }
.in-progress circle { fill: #667aff }
.completed circle { fill: #3da45a }
