.chat-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.sidebar {
  width: 300px;
  height: 100%;
  padding: 15px 20px;
  background-color: var(--background);
  border-right: 1px solid var(--gray-1);
  overflow-y: auto;
  flex-shrink: 0;

  button {
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: baseline;
  }
}

.chat {
  flex-flow: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.chat-recipient {
  flex-grow: 1;
}

.chat-preview {
  display: block;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--gray-5);
  width: 100%;
}

.history {
  overflow-y: auto;
}

.message-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 60px;
  margin-bottom: 10px;

  button {
    background-color: #fbfbfb;
    border-color: #fbfbfb;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.message-field {
  border: 1px solid var(--gray-3);
  background-color: #fbfbfb;
  border-radius: 5px;
  height: 50px;
  width: calc(100% - 95px);
  padding: 5px 15px;
  transition: all var(--ease-out-c) var(--ease-out-t);

  &:focus {
    outline: none;
    border-color: var(--gray-4);
    background-color: var(--background);
  }
}

.history {
  padding: 20px;
  height: calc(100% - 70px);
  overflow-y: scroll;
  padding-bottom: 0;
}

.message {
  margin-bottom: 5px;
}

.bubble-admin, .bubble-client {
  background-color: #acb6fd;
  width: fit-content;
  max-width: 48%;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  border-bottom-right-radius: 2px;

  display: flex;
  flex-flow: column;

  * {
    margin-left: auto;
  }
}

.bubble-client {
  background-color: #ebebeb;
  margin-left: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 2px;
}
