.client-container {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.history-wrapper {
  overflow-y: auto;
  flex-grow: 1;
  padding: 0 40px;

  @media screen and (max-width: 500px) {
      padding: 0 20px;
  }
}

.overview {
  width: 350px;
  height: 100%;
  padding: 40px;
  background-color: var(--background);
  border-right: 1px solid var(--gray-1);
  display: flex;
  flex-shrink: 0;
  flex-flow: column;
  gap: 20px;

  @media screen and (max-width: 500px) {
    padding: 40px 20px;
  }
}

.details {
  display: flex;
  flex-flow: column;
  gap: 25px 60px;
}

.detail {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 6px;
}
