.auth-sbs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    position: static;
    margin: auto;
}

.auth-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    min-height: 90%;
    width: 90%;
    max-width: 450px;
    margin: 2rem;
    padding: 3rem;
}

.or-separator {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 4rem 0;

    &::before,
    &::after {
        content: "";
        display: block;
        position: relative;
        top: 1px;
        width: 35%;
        height: 0.8px;
        background-color: var(--gray-1);
        margin-left: 10px;
    }
}

.auth-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
